.filtersContainer {
    background: var(--filter-bg);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .searchInput {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--filter-border);
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    color: black;
  }
  
  .searchInput:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
  }
  
  .filterGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
  
  .datePicker {
    padding: 10px;
    border: 2px solid var(--filter-border);
    border-radius: 8px;
    font-size: 14px;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .datePicker:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .reactSelect {
    width: 200px;
    font-size: 14px;
  }
  .reactSelect::-webkit-scrollbar {
    display: none;
  }
  