body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  
  .header {
    display: flex;
    padding: 10px;
    background-color: #1A73E8;
    color: white;
  }
  .menu-icon {
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .site-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
  }
  
  .news-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .article-card {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-content: center;
  }
  .app {
    margin-left: 270px; 
  }
  .app::-webkit-scrollbar {
    display: none;
  }
  .appClose {
    margin-left: none; 
    transition: transform 0.5s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .news-feed {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .news-feed {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 768px) {
    .navigation {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 1000;
    }
  
    .app {
      margin-left: 0;
    }
  }